// VENDORS
@import '~@/assets/css/vendor/normalize.css';
@import '~@/assets/css/vendor/html5Boilerplate.css';
@import '~@/assets/fonts/Barlow/Barlow.css';

// SETTINGS
@import 'utilities/_Autilities_base';
@import 'colors';

@import 'base';
// @import 'nav';
// @import 'typography';
// @import 'animations';
// FONTS

$base-font-size:   1rem;
$base-line-height: 1.7em;
$font:             barlow, Helvetica, Arial, sans-serif;
$font-head:        barlow-regular, Helvetica, Arial, sans-serif;
$font-subhead:     barlow-regular, Helvetica, Arial, sans-serif;
$font-copy:        barlow-light, Helvetica, Arial, sans-serif;

// BREAKPOINTS
$breakThou:  1024px;
$breakOne:   840px;
$breakTwo:   630px;
$breakThree: 430px;
$breakFour:  320px;
