@font-face {
    font-family: 'barlow-thin';
    src: url('barlow-thin.woff2') format('woff2'),
         url('barlow-thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlow-thin-italic';
    src: url('barlow-thin-italic.woff2') format('woff2'),
         url('barlow-thin-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlow-extra-light';
    src: url('barlow-extra-light.woff2') format('woff2'),
         url('barlow-extra-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlow-extra-light-italic';
    src: url('barlow-extra-light-italic.woff2') format('woff2'),
         url('barlow-extra-light-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlow-light';
    src: url('barlow-light.woff2') format('woff2'),
         url('barlow-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlow-light-italic';
    src: url('barlow-light-italic.woff2') format('woff2'),
         url('barlow-light-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlow-regular';
    src: url('barlow-regular.woff2') format('woff2'),
         url('barlow-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlow-italic';
    src: url('barlow-italic.woff2') format('woff2'),
         url('barlow-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlow-bold';
    src: url('barlow-bold.woff2') format('woff2'),
         url('barlow-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlow-bold-italic';
    src: url('barlow-bold-italic.woff2') format('woff2'),
         url('barlow-bold-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlow-con-regular';
    src: url('barlow-con-regular.woff2') format('woff2'),
         url('barlow-con-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlow-con-italic';
    src: url('barlow-con-italic.woff2') format('woff2'),
         url('barlow-con-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlow-con-bold';
    src: url('barlow-con-bold.woff2') format('woff2'),
         url('barlow-con-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlow-con-bold-italic';
    src: url('barlow-con-bold-italic.woff2') format('woff2'),
         url('barlow-con-bold-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlow-con-semibold';
    src: url('barlow-con-semi-bold.woff2') format('woff2'),
         url('barlow-con-semi-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlow-con-semibold-italic';
    src: url('barlow-con-semi-bold-italic.woff2') format('woff2'),
         url('barlow-con-semi-bold-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlow-con-light';
    src: url('barlow-con-light.woff2') format('woff2'),
         url('barlow-con-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlow-con-light-italic';
    src: url('barlow-con-light-italic.woff2') format('woff2'),
         url('barlow-con-light-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlow-con-thin';
    src: url('barlow-con-thin.woff2') format('woff2'),
         url('barlow-con-thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlow-con-thin-italic';
    src: url('barlow-con-thin-italic.woff2') format('woff2'),
         url('barlow-con-thin-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
